body{
    background: #fff;
}
.cart{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.page-left{
    background: #fff;
    padding: 20px;
}
.page-left h1{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}
.page-left hr{
    border: none;
    background: #dadada;
    height: 1px;
    margin-bottom: 5px;
}
.product-cart-list{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 24px 0 12px 12px;
}
.product-cart-titleprice{
    display: flex;
    gap: 20px;
    font-size: 18px;
}
.product-bestseller{
    font-size: 12px;
    margin-top: 10px;
}
.product-bestseller span{
    font-size: 13px;
    background: #c45500;
    color: #fff;
    padding: 10px;
}
.cart-stock{
    font-size: 13px;
    color: #007600;
    margin: 4px 0;
    margin-top: 14px;
}
.cart-delivery{
    font-size: 15px;
}
.cart-return{
    font-size: 15px;
    color: #007185;
    font-weight: 400;
}
.cart-gift{
    color: #494949;
    font-size: 13px;
    margin: 4px 0;

}
.cart-gift span{
    color: #007185;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}
.cart-specs{
    max-width: 150px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 3px;
    font-size: 13px;
    margin: 7px 0;
}
.cart-list-action{
    display: flex;
    gap: 14px;
    font-size: 14px;
    color: #007185;
}
.cart-list-action hr{
    height: 20px;
    width: 1px;
    background-color: #cfcfcf;
}
.cart-list-action select{
    padding: 5px;
    border-radius: 6px;
    background-color: #f3f3f3;
}
.cart-list-subtotal{
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
}
.page-right{
    background-color: #fff;
    padding: 20px;
    max-height: 220px;
    min-width: 280px;
}
.cart-free-delivery{
    display: flex;
    font-size: 13px;
}
.cart-subtotal{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
.cart-right-gift{
    margin: 7px 0;
    font-size: 14px;
}
.page-right button{
    width: 100%;
    height: 32px;
    margin: 15px 0;
    background: #ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
        background-color: #ebc712;
    }
}
.cart-footer{
    margin-top: 50px;
}

@media only screen and (max-width: 900px){
    .cart{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 1090px){
    .cart-list-action .action-btn:nth-last-child(1){  
            display: none;
    }
    .cart-list-action hr:nth-last-child(2){  
            display: none;
    }
    .cart-list-action .action-btn:nth-last-child(3){  
            display: none;
    }
    .cart-list-action hr:nth-last-child(4){  
            display: none;
    }
}

@media only screen and (max-width: 900px){
    .product-cart-list{
        padding: 24px 0;
    }
    .product-cart-list img{
        width: 80px;
    }
    .product-cart-titleprice{
        flex-wrap: wrap;
        font-size: 14px;
    }
    .cart-delivery{
        font-size: 13px;
    }
   
}
@media (max-width: 400px) {
  .product-bestseller {
    font-size: 0;
  }
  .product-bestseller span {
    font-size: 16px;
  }
}